# Dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json
pnpm-lock.yaml
yarn.lock
.bun-lockb

# Testing
/coverage

# Database
/prisma/db.sqlite
/prisma/db.sqlite-journal

# Next.js
/.next/
/out/
next-env.d.ts

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files

.env*.local
.env

# Vercel
.vercel

# Typescript
*.tsbuildinfo
.file-tree.txt

.env
.env.local
